/* html {
    scroll-behavior: smooth;
} */

html,
body {
    width: 100%;
    /* height: 100%; ---- Breaks smoothscrolling*/
    margin: 0px;
    padding: 0px;
    overflow-x: scroll;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;

}

h4.agenda {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: black;
    font-size: 25px;
    line-height: 30px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Social Icons */
.soc-icon {
    width: 120px;
    right: 0;
    position: absolute;
    display: inline;
    /* text-align: center; */

}

.fab {
    padding-left: 10px;
    padding-right: 10px;
}

.logo-icon {
    position: absolute;
    margin: 0 0 0 10px;
    background: black;
}

.sch-section {
    height: 100%;
    /* background-color: #F8BDC4; */
    background-image: url(/img/background-tan-snow.jpg);
    background-attachment: fixed;
}

h3.agenda {
    padding-top: 50px;
    padding-left: 3vw;
    float: left;
    color: black;
    font-size: 15px;
    font-weight: 200;
    width: 40%;
}

.navbar._2019 {
    background-color: #f1e8d9;
}

.card {
    background-color: transparent;
    color: black;
    /* background-color: #8491A3; */
    /* background-image: url(/img/background-tan-snow.jpg); */
    border: 2px solid white;
    /* border-radius: 90px; */
    //width: 25vw;
    width:100%;
    min-height: 400px;
}

.card-title {
    font-size: 20px;
    overflow: auto;
    line-height: 50px;
    min-height: 100px;
}

#sub-reg {
    /* margin-top: 40px; */
    font-size: 10px;
    padding-top: 100px;
}

.money {
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 4px;
}

.list-group-item {
    background-color: transparent;
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;

}

.grp-container {
    width: 100vw;
    height: 30vh;
}

.group-picture {
    position: relative;
    filter: opacity(80%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* JUmbo Tron */
.hero-wrapper._2019hero {
    position: static;
    padding-top: auto;
    background-color: #f1e8d9;
    /* background-image: url("../img/shaun-frankland-198095-unsplash.jpg"); */
    background-image: url("/img/SOCAL.jpeg");
    filter: opacity(90%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.reg-pad {
    padding-top: 65px;
    padding-bottom: 15px;
    
    font-size: 3em;
    line-height: 1;
    font-weight: 500;
}

.test {
    text-align: center;
}


.navlink.register-nav {
    border-radius: 40px;
    background-color: #9dabbd;
    /*color: black;*/
    font-weight: 900;
}

.social-icon {
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    z-index: 10;
}

.social-container {
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 50px;
}

.regbtn-wrapper {
    position: relative;
    display: block;
    padding: auto;
    background-color: #BCE2E6;
    background-image: url();
    background-image: url();
    background-image: url("../img/background-snow.png");
    background-position: 50% 50%;
    background-size: cover;
    color: #fff;
}

.button-size {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;


}

.colmn-pad {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; */
    //font-size: 0.9vw;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 40px;
    color: #F1F5F2;
}

.btn-primary {
    background-color: black;

}

.line-pad {
    margin: 0 auto;
    position: relative;
    z-index: 100;
    top: 100px;
}

.line-pad2 {
    margin: 0 auto;
    position: relative;
    /* z-index: 100; */
    top: 120px;

}

.container-fluid.test {
    /* background-color: #96ADC8; */
    background-image: url("../img/background-snow.png");
    background-attachment: fixed;
}

.container-fluid.static-map {
    background-color: transparent;
    padding-top: 50px;
}

.group-rates {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Univers lt 55 roman', sans-serif;
    text-align: center;
}


/* Testing Schedule CSS */
.sch-left-time {
    text-align: center;
}



.title-section {
    padding-top: 70px;
    /* background-color: transparent; */
    background-image: url(/img/background-snow.png);
    background-attachment: fixed;
}

.title-section.light {
    position: static;
    overflow: visible;
    min-height: 0px;
    filter: opacity(80%);
    background-color: transparent;
    background-image: url("https://uploads-ssl.webflow.com/56c4d46f1457615e44ce9537/5b1b260be0c922fcdeec88fc_VC19_Ticketing_BG4.png"), -webkit-gradient(linear, left top, left bottom, from(#f1e8d9), to(#f1e8d9));
    background-image: url("../img/background-tan-snow.jpg"), linear-gradient(180deg, #f1e8d9, #f1e8d9);
    background-position: 0px 0px, 0px 0px;
    background-size: cover;
    /* z-index: 800; */
}

.billawesome {
    padding-top: 125px;
    padding-left: 12%;
    padding-right: 12%;
    max-width: 100%;
    height: 50%;
    z-index: 2000;
    position: relative;

    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
}


.title.text {
    margin: 0 auto;
    font-weight: 800;
    text-transform: uppercase;
    /* color: #c7a544; */
    color: #e8dfd0;
    padding-top: 45px;
    /* text-shadow: -1px -1px 0 BLACK,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black; */
}

.video-wrapper {
    padding-top: 100px;
    background-color: #f1e8d9;
    padding-bottom: 0px;
}

/* Register Text  */
.yellow.alt.txt2019 {
    color: #000;
    font-size: 80px;
    font-weight: 200;
}

h6#reg-end {
    font-size: 16px;
    letter-spacing: 4px;

}

/* Map */

#map-container {
    border: solid black 2px;
}

.map-image {
    border: solid black 2px;
}

.map-text {
    border: solid black 2px;
    padding: 30px 10px
}

/* content of right side of map */
div.map {
    color: #fff3e6;
    background-color: #424343;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}


/* Schedule/Agenda */
.col-sched {
    min-height: 200px;
    color: #000;
    /* color: #f1e8d9; */
    padding-left: 50px;
    padding-right: 50px;
    /* border: black solid 1px; */
}

.sess-time {
    position: relative;
    float: right;
    width: 60%;
    display: block;
    text-align: right;
    align-self: center;
    padding-right: 2vw;
    padding-top: 1vh;
    letter-spacing: 2px;

}

h4.sess {
    font-size: 14px;
    white-space: nowrap;
    font-weight:normal;
}

/* Actvities */

.test-border {
    border: solid black 1px;

}

.icon-box {
    /* width: 10rem; */
}

/* Mission STatement */

.mission-statement {
    text-align: center;
}

h3.mission-text {
    color: black;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 576px) {

    .title.text {
        font-size: 20px;
        line-height: 105px;
    }

    .colmn-pad {
        line-height: 20px;
        font-size: 3vw;
        padding-top: 3em;
    }

    #sub-reg {
        font-size: 1.5vw;
    }

    .card {
        margin:0 auto;
        width: 80vw;
    }

    .card-title {
        font-size: 4vw;
    }


    .map-col {
        float: none;
        text-align: center;
    }

    .map-col-right {
        text-align: center;
        padding-top: 50px;
    }

    h1.map {
        background-color: #424343;
        position: relative;
        text-align: center;
        font-size: 10px;
        font-weight: bolder;
        color: #fff3e6;
        letter-spacing: 5px;
        width: 80vw;
        padding-top: 30px;
    }
}

@media only screen and (min-width: 416px) and (max-width: 1358px) {
    .title.text {
        font-size: 4.5vw;
    }
}


/* Video Responsive */

.video-responsive {
    overflow: hidden;
    padding-bottom: 100px;
    /* padding-bottom: 56.25%; */
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}